<mat-card
  class="example-card"
  appearance="outlined"
  appHighlighting
  [isActive]="ifAtLeastOneDeviceIsOn()"
>
  <mat-card-header class="example-card__header">
    <mat-card-title>{{ entityCard().title }}</mat-card-title>
    @if (isTitleSwitcher()) {
    <mat-slide-toggle
      [checked]="ifAtLeastOneDeviceIsOn()"
      (change)="onAllTogglesState($event.checked)"
    ></mat-slide-toggle>
    }
  </mat-card-header>
  <mat-card-content>
    <ul [ngClass]="directionLayout()">
      @for (item of entityCard().items; track $index) { @if (item.type === 'sensor') {
      <app-sensor [entity]="item" [layout]="directionLayout()"></app-sensor>
      }@else if(item.type === "device"){
      <app-device [entity]="item" [layout]="directionLayout()">
        <mat-slide-toggle [checked]="item.state" (change)="onToggleState(item)"></mat-slide-toggle
      ></app-device>
      } }
    </ul>
  </mat-card-content>
</mat-card>
