:host {

  .example-card {}

  .horizontal-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .examp-card__item {
      display: flex;
      flex-direction: row;
      background-color: yellow;
    }
  }

  .vertical-layout {
    display: flex;
    flex-direction: column;

    // background-color: rgb(24, 185, 48);

    .examp-card__item {}
  }

  .single-device {
    display: flex;
    flex-direction: column;


    // background-color: rgb(168, 27, 194);

    .examp-card__item {}
  }
}