:host {

  .sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(100% - var(--bar-heigh)*2);
    border: var(--main-border);
    border-right: 0;
    padding: var(--padding-full);
  }

  .sidebar-menu__items {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1rem;
    transition: var(--transition);
    color: var(--color-link);
    font-size: var(--first-font-size);
    padding: var(--padding-full);

    &:hover {
      color: var(--color-link-hover);
      box-shadow: var(--color-link-shadow);
      background-color: var(--color-link-focus);
    }

    &:focus {
      background-color: var(--color-link-focus);
      color: var(--color-link-hover);
    }
  }

  .active {
    background-color: var(--color-link-focus);
    color: var(--color-link-hover);
  }
}