@use 'mixin' as mix;

:host {

  .not-found-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-self: center;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  button {
    transition: var(--transition);
    font-size: var(--first-font-size);
    border: var(--main-border);
    padding: var(--padding-full);
    @include mix.link-states;
  }
}