:host {

  .footer {
    border: var(--main-border);
    display: flex;
    align-items: center;
    height: var(--bar-heigh);
  }

  .footer__link {
    padding: var(--padding-full);
    width: 100%;
    color: var(--color-link);
    font-size: var(--first-font-size);
    transition: var(--transition);

    &:hover {
      color: var(--color-link-hover);
      box-shadow: var(--color-link-shadow);
      background-color: var(--color-link-focus);
    }
  }
}