:root {

  --background-color: rgb(189, 184, 207);
  --main-border: 1px solid rgb(112, 152, 234);
  --padding-full: 10px 20px;
  --first-font-size: 1.3rem;

  --bar-heigh: 6.7rem;
  --bar-padding: 0.5rem;
  --padding-items: 1rem;

  //links
  --color-link: #566d90;
  --color-link-hover: rgb(242, 226, 208);
  --color-link-focus: rgb(54, 108, 235);
  --color-link-shadow: 5px 5px 10px rgba(106, 110, 237, 0.3);

  --transition: 0.3s ease-out;


}